#clock {
    font-size: 36px;
    text-align: center;
    background: rgb(255,0,0);
    color:hwb(120 0% 0%) ;
/*border-radius:50%;
/*align-content:left;
    width: 40;
    padding: 40px;
    margin: 30px;
    border:20px solid rgb(109, 47, 255);*/
    
}